.navbar{
    background-color:rgb(49, 47, 47);
}
.navbar li{
    float: left;
    list-style: none;
    padding: 3px;
    margin: 12px 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 3px;
    text-decoration: none;
    color: white;
}
#login{
    float: right;
    padding-right: 2%;
    padding-left: 2%;
}
#container{
       text-align: center;
       padding-top: 0.5%;
       color: white;
       font-family:cursive;
       font-weight: bold;
       font-size: 24px;
}

.navbar li:hover{
    box-shadow: 0 0 1rem red;
}

#t{
    color: gold;
}