<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="Css/footer.css">
</head>
<body>
    <div id="footer">
        <span id="f1">
            <h4>Company</h4>
            <ul>
                <li>Blog</li>
                <li>Privacy policy</li>
                <li>FAQs</li>
                <li>About us</li>
            </ul>
        </span>
        <span id="f2">
            <h4>Agency</h4>
            <ul>
                <li>Blog</li>
                <li>Privacy policy</li>
                <li>FAQs</li>
                <li>About us</li>
            </ul>
        </span>
        <span id="f3">
            <h4>Contact us</h4>
            <ul>
                <li>+91 84------54</li>
                <li>traveluspvt@gmail.com</li>
                <li><a href="#" target="_blank">https://Travelus.com</a></li>
            </ul>
        </span>
        <p id="p1"> ©www.travelus.com. All rights reserved</p>
    </div>
</body>
</html>
