<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation bar</title>
    <link rel="stylesheet" href="Css/headerstyle.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#index">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#visit">Destinations</a></li>
                <li><a href="#footer">Contact Us</a></li>
                <li id="login"><a href="Components/login.html">Login</a></li>
                <li id="login"><a href="Components/login.html">Sign in</a></li>
                <div id="container">
                  <span id="t">T</span>RAVElus
                </div>
            </ul>
        </nav>
    </header>
</body>
</html>
