<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="../Css/loginstyle.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <h1 id="heading">Login</h1><br>
            <form id="div1">
                <div id="di1"><label id="label">Username</label><br></div>
                <div id="di2"><input type="text" placeholder="Enter your name here" id="label1"><br></div>
                <div id="di3"><label id="label">Password</label></div>
                <div id="di4"><input type="password" placeholder="Enter your password here" id="label2"></div>

                <input type="checkbox" id="check1">
                <label id="check2">Remember me</label>
                <a href="#" id="link">Forgot password?</a>

                <input type="submit" value="Login" id="login"><br>
                <p id="para">Don't have an account? <a href="Components/signup.html">Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>
