<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>most visited</title>
    <link rel="stylesheet" href="Css/placestyle.css">
</head>
<body>
    <div class="main">
        <div class="contain">
            <div class="pic">
                <img src="Images/Screenshot (110).png" height="100%" width="100%">
                <p id="para">Paris was in its artistic prime in the 19th century and early 20th century, when it had a colony of artists established in the city and in art schools associated with some of the finest painters of the times: Henri de Toulouse-Lautrec, Édouard Manet, Claude Monet. </p>
                <div id="booknow"><button id="book">Book Now</button></div>
            </div>
            <div class="pic">
                <img src="Images\Screenshot (111).png"height="100%" width="100%">
                <p id="para">The culture of the Maldives is influenced by the cultures of the people of different ethnicities who have settled on the islands throughout the times.culture of the Maldives because of the conversion to Islam and its location as a crossroads in the central Indian Ocean
                    </p>
                <div id="booknow"><button id="book">Book Now</button></div>
            </div>
            <div class="pic">
                <img src="Images\Screenshot (112).png" height="100%" width="100%">
                <p id="para">Thailand is a southeast Asian country. It's known for tropical beaches, opulent royal palaces, ancient ruins and ornate temples displaying figures of Buddha. In Bangkok, the capital, Buddha temple is very popular places to visit. the natural beauty increases the demand of Thailand.</p>
                <div id="booknow"><button id="book">Book Now</button></div>
            </div>
            <div class="pic">
            <img src="Images\Screenshot (113).png"height="100%" width="100%">
                <p id="para">Dubai is the most populous city in the United Araqb Emirates and the capital of the Emirate of Dubai, the most populous of the country's seven emirates. Explore a wide range of choices and start planning your trip now.It is the home to the world's tallest biulding, Burj Khalifa.</p>
                <div id="booknow"><button id="book">Book Now</button></div>
            </div>
            <div class="pic">
                <img src="Images\Screenshot (115).png"height="100%"width="100%">
                <p id="para">Japan's fall season begin mid november to eraly December, the trees turn vivid hues of red, orange and yellow. it's this combination of cool weather and striking sights that make fall a great season for travelling to Japan.Most of Honshu and Kyushu are a pleasant temperature.</p>
                <div id="booknow"><button id="book">Book Now</button></div>
            </div>
            <div class="pic">
                <img src="Images\Screenshot (114).png"height="100%"width="100%">
                <p id="para">Switzerland, officially the swiss Confederation, is a landlocked country located by italy to the south. it is a small mountanious country loacted in central Europe. it is the home to numerous lakes, villages an d the high peaks of the Alps. Swiss watches and chocolate are world renowned</p>
                <div id="booknow"><button id="book">Book Now</button></div>
            </div>
        </div>
    </div>
</body>
</html>
